header {
  background-color: grey;
  color: white;
  height: 30px;
}


.node-row {
  display: flex;

}

.node {
  width: 5px;
  height: 5px;
  margin: 0;
  border: solid black 1px;
}

.wall-node {
  background-color: black;
}

.start-node {
  background-color: chartreuse;
}

.target-node {
  background-color: crimson;
}

.visited-node {
  background-color: blue;
}

.shortest-path-node {
  background-color: hotpink;
}